
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="overlay">
    <form method = 'POST'>
        {% csrf_token %}
       <div class="con">
       <header class="head-form">
          <h2>Log In</h2>
          <p>login here using your username and password</p>
       </header>
       <br>
       <div class="field-set">
             <span class="input-item">
               <i class="fa fa-user-circle"></i>
             </span>
             <input class="form-input" name ='username' type="text" placeholder="Email Id or Phone No" required>
         
          <br>
          <span class="input-item">
            <i class="fa fa-key"></i>
           </span>
          <input class="form-input" type="password" name="password" placeholder="Password" id="pwd"  name="password" required>
         
         <span>
            <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i>
         </span>
         
         
          <br>
          <button type="submit" class="log-in"> Log In </button>
       </div>
      </form>
          {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
      
       <div class="other">
          <button class="btn submits frgt-pass">Forgot Password</button>
          <button  class="btn submits sign-up">Sign Up 
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
       </div>
         
      </div>


{% endblock %}