{% extends 'ERP/base.html' %}
{% load static %}
{% block content %}
 
<form  method="post">
    {% csrf_token %}
   
    <input type="text" name="vehicalnumber" placeholder="Vehical Number"><br><br>
    <input type="text" name="vehicaltype" placeholder="Vehical Type"><br><br>
    <button type="submit"> Add Your Vehical </button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}