{% extends 'ERP/base.html' %}
{% load static %}
{% block content %}

{% include 'ERP/search_widget.html' %}
<table id="myTable" class ="table" >
    <tr><th>Number</th><th>Type</th><th>Edit Info</th> <th>Services</th></tr>

        {% for vehical in vehicals %}
        <tr>
            <td>{{vehical.number}}</td>
            <td>{{vehical.type}}</td>
            <td><a class="btn btn-outline-dark" href="{% url 'edit_vehical_page' vehical.number %}">edit</a></td>
            <td><a class="btn btn-outline-warning" href="{% url 'vehical_services_page' vehical.id %}">View Services</a></td>
        </tr>
        {% endfor %}


</table>
<a class="btn btn-outline-info" href="{% url 'add_vehical_page' %}">Add New</a>

{% endblock %}