{% extends 'ERP/base.html' %}
{% load static %}
{% block content %}
<h1> Estimate View</h1>
{% include 'ERP/search_widget.html' %}
<table id = "myTable" class = 'table'>
<tr><th>ID</th><th>Service</th><th>Price</th><th>Date</th><th>Download</th></tr>
{% for estimate in estimates %}
<tr>
    <td>{{estimate.serial_number}}</td>
    <td>{{estimate.service}}</td>
    <td>{{estimate.price}}</td>
    <td>{{estimate.created_at}}</td>
    <td><a href = '{{estimate.report.url}}' class="btn btn-outline-secondary"> Download</a></td>
    <td><a href = '{% url "delete_estimate" estimate.id %}' class="btn btn-outline-secondary"> Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}