{% extends 'ERP/base.html' %}
{% load static %}
{% block content %}
<h1>Hi {{request.user}} !</h1>  
<div class="services">
    <h3 class="pg-header">Our Services</h3>
    <div id="carser">
<a href="{% url 'add_service_page' %}" class="btn btn-info">Add Servicel</a> <br> <br>
<a href="{% url 'employee_service_list' %}" class="btn btn-info">Service List</a> <br> <br>
<a href="{% url 'estimates' %}" class="btn btn-info">Estimates</a> <br> <br>
<a href="{% url 'approve_page' %}" class="btn btn-info">Manage Employees</a> <br> <br>
</div>
{% endblock %}
