
<div class="sidebar">
    <div class="sidebar_inner">
    <ul>
        <li>
            <a href=" {% url 'add_service_page' %} ">
                <span class="icon"><i class="fa fa-qrcode"></i></span>
                <span class="text">Add Service</span>
            </a>
        </li>
        <li>
            <a href="{% url 'employee_service_list' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">Service list</span>
            </a>
        </li>
        <li>
            <a href="{% url 'estimates' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">Estimates</span>
            </a>
        </li>
        <li>
            <a href="{% url 'approve_page' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">Employee Roles</span>
            </a>
        </li>
        <li>
            <a href="{% url 'attendance' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">Attendance</span>
            </a>
        </li>
        <li>
            <a href="{% url 'assign_task' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">Assign Task</span>
            </a>
        </li>
        <li>
            <a href="{% url 'tasks_list' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">All Tasks</span>
            </a>
        </li>
        <li>
            <a href="{% url 'employee_tasks' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">My Tasks</span>
            </a>
        </li>
        <li>
            <a href="{% url 'center_product_list' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">All Products</span>
            </a>
        </li>
        <li>
            <a href="{% url 'add_product' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">Add Products</span>
            </a>
        </li>
        
        
    </ul>
    </div>
</div>

