

<div class="sidebar">
    <div class="sidebar_inner">
    <ul>
        <li>
            <a href=" {% url 'add_vehical_page' %} ">
                <span class="icon"><i class="fa fa-qrcode"></i></span>
                <span class="text">Add Vehical</span>
            </a>
        </li>
        <li>
            <a href="{% url 'info_vehical_page' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">My Vehcials</span>
            </a>
        </li>
        <li>
            <a href="{% url 'customer_service_page' %}">
                <span class="icon"><i class="fa fa-link"></i></span>
                <span class="text">My services</span>
            </a>
        </li>
        
        
        
    </ul>
    </div>
</div>


