{% load static %}

<div class="container-fluid bg-secondary booking my-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-6 py-5">
                <div class="py-5">
                    <h1 class="text-white mb-4">Multi Brand Vehicle Servicer</h1>
                    <p class="text-white mb-0">AT MECHANIC ON CLICK WE’RE BRINGING TRUST, TRANSPARENCY AND CONVENIENCE TO CAR REPAIR. ALL OUR USERS GET STARTED WITH AN ONLINE, INDUSTRY STANDARD, FIXED PRICE QUOTE, WHICH YOU CAN RECEIVE IN MINUTES. ONCE YOU’RE HAPPY WITH THE QUOTE YOU’LL BE ABLE TO BOOK IN WITH ONE OF MECHANICS RIGHT ACROSS THE YOUR AREA. YOU’LL BE ABLE TO SELECT EITHER FOR A MOBILE MECHANIC TO COME OUT TO YOU OR FOR A GARAGE TO COLLECT THE VEHICLE TO UNDERTAKE THE WORK IN THEIR WORKSHOP.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-primary h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                    <h1 class="text-white mb-4">Book For A Service</h1>
                   
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0"  name="name" maxlength="50" id="id_name"  placeholder="Your Name" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" name="email" maxlength="254" id="id_email" required id="id_email" placeholder="Your Email" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" name="ProvidedServices" id="id_ProvidedServices" style="height: 55px;">
                                    <option value="" selected="">Select A Service</option>

                                            <option value="1">Oil Change</option>

                                            <option value="2">Genral service</option>

                                            <option value="3">Engine Repair</option>

                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input type="text"
                                    name="date" id="id_date"
                                        class="form-control border-0 datetimepicker-input"
                                        placeholder="Service Date" data-target="#date1" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0"name="content" maxlength="200" id="id_content" placeholder="Special Request"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3" type="submit">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>