{% load static %}
<section class="marquee">
    <h3 class="pg-header">Deal with all popular brands</h3>
    <!-- <h2>We deal with all brands</h2> -->
<div class="scroll">
    <div>
          <h3 class="category"><img class="logoo" src="{% static 'img/honda.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/toyata.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/tvs.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/hero.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/jawa.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/ktm.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/suzaki.png'%}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/enfield.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/mahindra.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/bajaj.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/chevrolet.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/hundayi.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/honda.png' %}" alt=""></h3>
      </div>
  <!--Second equal div to ensure continuity of marquee-->
    <div>
          <h3 class="category"><img class="logoo" src="{% static 'img/honda.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/toyata.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/tvs.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/hero.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/jawa.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/ktm.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/suzaki.png'%}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/enfield.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/mahindra.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/bajaj.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/chevrolet.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/hundayi.png' %}" alt=""></h3>
          <h3 class="category"><img class="logoo" src="{% static 'img/honda.png' %}" alt=""></h3>
      </div>
  </div>
</section>