{% load static %}
<div id="footer">
  <footer class="footer">
      <div class="footer__addr">
          <img src="{% static 'img/moclogo.png' %}" alt="Logo Image">
        <h1 class="footer__logo">MOCTech Pvt. Ltd.</h1>
            
        <h2>Contact</h2>
        
        <address>
          Office Address:- 3117, C-Block, Surendra Landmark, Hoshangabad Road, BHOPAL, MADHYA PRADESH<br>
              
          <a class="footer__btn" href="mailto:mechaniconclick@gmail.com">Email Us</a>
          mechaniconclick@gmail.com
          <a class="footer__btn" href="mailto:mechaniconclick@gmail.com">Phone No.</a>
          +91 8109 656300
        </address>
      </div>
      
      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title">Media</h2>
    
          <ul class="nav__ul">
            <li>
              <a href="#"><i style="color: rgb(0, 0, 223);" class="ri-facebook-box-fill"> FaceBook</i></a>
            </li>
    
            <li>
              <a href="#"> <i style="color: red;" class="ri-youtube-fill"> Youtube</i></a>
            </li>
                
            <li>
              <a href="#"> <i style="color: rgb(1, 1, 158);" class="ri-linkedin-box-fill"> LinkedIn</i></a>
            </li>

            <li>
              <a href="#"> <i style="color: rgb(218, 14, 48);" class="ri-instagram-fill"> Instagram</i></a>
            </li>
          </ul>
        </li>
        
        <li class="nav__item nav__item--extra">
          <h2 class="nav__title">Services</h2>
          
          <ul class="nav__ul nav__ul--extra">
            <li>
              Diagnostic Test
            </li>
            
            <li>
              Engine Servicing
            </li>
            
            <li>
              Tyres & Wheel Care
            </li>
            
            <li>
              Automation
            </li>
            
            <li>
              Oil Changing
            </li>
            
            <li>
              Vacuam Cleaning
            </li>
            <li>
              Denting & Painting
            </li>
            <li>
              AC Services & Repair
            </li>
            <li>
              Clutch & Body Parts
            </li>
            <li>
              General Repairs
            </li>
            <li>
              RSA Services
            </li>
          </ul>
        </li>
        
        <li class="nav__item">
          <h2 class="nav__title">Legal</h2>
          
          <ul class="nav__ul">
            <li>
              <a href="#">Privacy Policy</a>
            </li>
            
            <li>
              <a href="#">Terms of Use</a>
            </li>
            
            <li>
              <a href="#">Sitemap</a>
            </li>
          </ul>
        </li>
      </ul>
      
      <div class="legal">
        <p>&copy; 2023 mechaniconclick.com | All rights reserved.</p>
        
        <div class="legal__links">
          <span>Made with <span class="heart">❤️</span> by our technical team</span>
        </div>
      </div>
    </footer>
</div>
