{% load static %}
<div id="about">
    <h3 class="pg-header">About Us</h3>
    <h1><span>Mechanic On Click</span> Is The Best Place For Your Auto Care</h1>
    <p>No more wondering if the mechanic is ripping you off, or waiting around in a garage waiting room. It's super easy, just follow these steps:</p>
    <div class="steps">
        <div class="srno"><img src="{% static 'img/1.png' %}" alt=""></div>
        <div class="srcont">
            <h3>Tell us about your Vehicle</h3>
            <p>Just enter your location and vehicle registration on the homepage so we know which car we're fixing. Then you'll need to select the work that needs doing.</p>
        </div>
    </div>
    <div class="steps">
        <div class="srno"><img src="{% static 'img/2.png' %}" alt=""></div>
        <div class="srcont">
            <h3>You get an instant quote</h3>
            <p>Then we'll put this information into our quote engine and you'll get an industry standard approved quote within second. <br>
            If you're not sure what's wrong with your car, don't worry! You can book a diagnostic inspection and the mechanic will let you know.</p>
        </div>
    </div>
    <div class="steps">
        <div class="srno"><img src="{% static 'img/3.png' %}" alt=""></div>
        <div class="srcont">
            <h3>Confirm your booking</h3>
            <p>Want to know how the price is an industry standard approved one? Take a look at our honest pricing page to find out how we use millions of data points to get your quote.</p>
        </div>
    </div>
    <div class="steps">
        <div class="srno"><img src="{% static 'img/4.png' %}" alt=""></div>
        <div class="srcont">
            <h3>Let us know your preferred date, time, and location for the work to be done.</h3>
            <p>Relax and spend time on other things that matter. Leave the rest to our service experts.</p>
        </div>
    </div>
</div>