{% load static %}

<nav>
    <div class="logo">
        <img src="{% static 'img/MoC.png' %}" alt="Logo Image">
        <h2><a href="">Bhopal <i class="ri-arrow-drop-down-line"></i></a></h2>
    </div>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li><a href="{% url 'home_page' %}">Home</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a href="./contact.html">Contact</a></li>
        <li><a href="{% url 'service_page' %}">Services</a></li>
        <li><a href="#">Pages</a></li>
        <li><button class="login-button" onclick="window.open('./login.html','_self');">Login</button></li>
        <li><button class="join-button" onclick="window.open('./registration.html','_self');">Join</button></li>
    </ul>
</nav>

