{% load static %}
<div id="services">
    <h3 class="pg-header">Our Services</h3>
    <div id="carser">
        <h1>Car Services Available</h1>
        <div class="grid-container">
            <div class="grid-item">
                <img src="./images/carserv01.png" alt="">
                <h3>Periodic Services</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv02.png" alt="">
                <h3>Suspension & Fitments</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv03.png" alt="">
                <h3>AC Services & Repair</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv04.png" alt="">
                <h3>Batteries</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv05.png" alt="">
                <h3>Tyres & Wheel Care</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv06.png" alt="">
                <h3>Denting & Painting</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv07.png" alt="">
                <h3>Car Inspections</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv08.png" alt="">
                <h3>Windshields & Lights</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv09.png" alt="">
                <h3>Car Spa & Cleaning</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv10.png" alt="">
                <h3>Clutch & Body Parts</h3>
            </div>
            <div class="grid-item">
                <img src="./images/carserv11.png" alt="">
                <h3>Detailing Services</h3>
            </div>
          </div>
    </div>
    <div id="bikser">
        <h1>Bike Services Available</h1>
        <div class="grid-container">
            <div class="grid-item">
                <img src="./images/bikser01.png" alt="">
                <h3>Periodic Services</h3>
            </div>
            <div class="grid-item">
                <img src="./images/bikser02.png" alt="">
                <h3>General
                    Repairs</h3>
            </div>
            <div class="grid-item">
                <img src="./images/bikser03.png" alt="">
                <h3>Batteries</h3>
            </div>
            <div class="grid-item">
                <img src="./images/bikser04.png" alt="">
                <h3>Engine Work</h3>
            </div>
            <div class="grid-item">
                <img src="./images/bikser05.png" alt="">
                <h3>Bike Insurance</h3>
            </div>
            <div class="grid-item">
                <img src="./images/bikser06.png" alt="">
                <h3>RSA Services</h3>
            </div>
            <div class="grid-item">
                <img src="./images/bikser07.png" alt="">
                <h3>Spare Parts</h3>
            </div>
            <div class="grid-item">
                <img src="./images/bikser08.png" alt="">
                <h3>Custom 
                    Services</h3>
            </div>
          </div>
    </div>
</div>
