
{% load static %}
<div id="services">
    <h3 class="pg-header">Our Services</h3>
    <div id="carser">
        <h1>Car Services Available</h1>
        <div class="grid-container">
            <div class="grid-item">
                <img src="{% static 'img/carserv01.png' %}" alt="">
                <h3>Periodic Services</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv02.png' %}" alt="">
                <h3>Suspension & Fitments</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv03.png' %}" alt="">
                <h3>AC Services & Repair</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv04.png' %}" alt="">
                <h3>Batteries</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv05.png' %}" alt="">
                <h3>Tyres & Wheel Care</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv06.png' %}" alt="">
                <h3>Denting & Painting</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv07.png' %}" alt="">
                <h3>Car Inspections</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv08.png' %}" alt="">
                <h3>Windshields & Lights</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv09.png' %}" alt="">
                <h3>Car Spa & Cleaning</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv10.png' %}" alt="">
                <h3>Clutch & Body Parts</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/carserv11.png' %}" alt="">
                <h3>Detailing Services</h3>
            </div>
          </div>
    </div>
    <div id="bikser">
        <h1>Bike Services Available</h1>
        <div class="grid-container">
            <div class="grid-item">
                <img src="{% static 'img/bikser01.png' %}" alt="">
                <h3>Periodic Services</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/bikser02.png' %}" alt="">
                <h3>General
                    Repairs</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/bikser03.png' %}" alt="">
                <h3>Batteries</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/bikser04.png' %}" alt="">
                <h3>Engine Work</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/bikser05.png' %}" alt="">
                <h3>Bike Insurance</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/bikser06.png' %}" alt="">
                <h3>RSA Services</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/bikser07.png' %}" alt="">
                <h3>Spare Parts</h3>
            </div>
            <div class="grid-item">
                <img src="{% static 'img/bikser08.png' %}" alt="">
                <h3>Custom 
                    Services</h3>
            </div>
          </div>
    </div>
</div>