{% extends 'ERP/base.html' %}
{% load static %}
{% block content %}
 <p> Serial Number : {{product.serial_number}}</p>
<form  method="post">
    {% csrf_token %}
    <label for="name"> Name </label>
   <input type="text" name="name" value="{{product.name}}" ><br><br>
   <label for="description"> Description </label><br>
   <textarea name="description"  id="" cols="50" rows="5">{{product.description}}</textarea><br><br>
   <label for="purchase_price"> Purchase Price </label>
   <input type="number" value="{{product.purchase_price}}" name="purchase_price" ><br><br>
   <label for="price"> Price </label>
   <input type="number" value="{{product.price}}" name="price" ><br><br>
   <label for="tax"> Tax </label>
   <input type="number" value="{{product.tax}}" name="tax"><br><br>
   <label for="stock"> Stock </label>
   <input type="number" value="{{product.stock}}" name="stock"><br><br>
   <button type="submit">Edit Product</button><br>
</form>

<br><br><br>
<input class="btn btn-outline-primary" type=button value="Previous Page" onClick="javascript:history.go(-1);">
{% endblock %}
