<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>
{% load static %}
{% block content %}
<h1>Hi {{request.user}} !</h1>  
<form  method="post">
    {% csrf_token %}
    <select name="vehical">
        {% for vehical in vehicals %}
        <option value="{{vehical.id}}">{{vehical}}</option>
        {% endfor %}
      </select><br><br>
    
    <!-- <label for="time">Service Estimate Time</label>
    <input type="time" name="service_time" ><br><br> -->
    <!-- <label for="date">Service Date</label>
    <input type="date" name="service_date" ><br><br> -->
    <input type="number" name="estimate" placeholder="Amount Estimate"><br><br>
    <select name="services" multiple>
        {% for service in services %}
        <option value="{{service.id}}">{{service}}</option>
        {% endfor %}
      </select><br><br>
      <input type="text" name="add_services" placeholder="Additional Services"><br><br>
      
    
    <button type="submit"> Add Your Vehical </button>
   
</form>

{% endblock %}
