{% extends 'ERP/base.html' %}
{% load static %}
{% block content %}

<h1>Hi {{request.user}} !</h1>  
<div class="container">
<div class='card-deck'>
    {% for update in updates %}
    
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{update.update_image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{update.update_title}}</h5>
      <p class="card-text">{{update.update_description}}</p>
    </div>
    
    
  </div>
  
  {% endfor %}
</div>
</div>
<input class="btn btn-outline-primary" type=button value="Previous Page" onClick="javascript:history.go(-1);">
{% endblock %}
