{% extends 'ERP/base.html' %}
{% load static %}
{% block content %}
<h1>Hi {{request.user}} !</h1>  
<h1>Services</h1>
<div >
    <input placeholder="Search" type="text" id="searchbox" onkeyup="searchFunction()">
    <a href="" class="btn btn-info">Reset</a>
</div>
<table id="myTable" class = 'table'>
    <tr>
        <th>Number</th>
        <th>Type</th>
        <th>estimate</th>
        <th>Center</th>
        <th>Approved</th>
        <th>Progress</th>
        <th>Services</th>
        <th>Additional Services</th>
        <th>Action</th>
        </tr>
        

        {% for service in services %}
        <tr>
            <td>{{service.vehical.number}}</td>
            <td>{{service.vehical.type}}</td>
            <td><a class="btn btn-outline-secondary"> Download</a></td>
            <td>{{service.center.name}}</td>
            <td>{{service.is_approved}}</td>
            <td>{{service.progress}}</td>
            <td>
                        
                {% for ser in service.services.all %}
            <p>{{ser.name}},</p>
                    {% endfor %}
            
            </td>
            <td>{{service.additional_services}}</td>
            <td> 
                <a class="btn btn-outline-info" href="{% url 'genrate_estimate' service.id %}">Genrate Estimate</a>
                <a class="btn btn-outline-info" href="{% url 'progress_update_page' service.id %}">Update Progress</a>
                <a class="btn btn-outline-secondary" href="{% url 'employee_service_update_page' service.id %}">Add Update</a>
            </td>
        </tr>
        {% endfor %}
        </table>
        

       
{% endblock %}