{% extends 'ERP/base.html' %}
{% load static %}
{% block content %}
<h1>Hi {{request.user}} !</h1>  
<h1>Employees</h1>
{% include 'ERP/search_widget.html' %}
<table id="myTable" class = 'table'>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Action</th>
        </tr>
        

        {% for employee in employees %}
        <tr>
            <td>{{employee.user}}</td>
            <td>{{employee.user.phone}}</td>
            <td>{{employee.user.role}}</td>
            <td> 
                <a class="btn btn-outline-info" href="{% url 'activate_employee' employee.id %}">Activate Employee Id</a>
                <a class="btn btn-outline-info" href="{% url 'deactivate_employee' employee.id %}">Deactivate Employee Id</a>
                <a class="btn btn-outline-secondary" href="{% url 'change_role' employee.id %}">Change Role</a>
                <a class="btn btn-outline-secondary" href="{% url 'pay_slips' employee.id %}">View Pay Slips</a>
            </td>
        </tr>
        {% endfor %}
        </table>
        <input class="btn btn-outline-primary" type=button value="Previous Page" onClick="javascript:history.go(-1);">

       
{% endblock %}