@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap");
* {
  font-family: "Baloo Paaji 2", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #ffffff;
}
#main{
  width:100%;
  height:100%;
  background-color: salmon;
}

.top_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: #f3f3f3;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.125);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000000;
}

.top_navbar .logo {
  width: 170px;
  padding: 0px 45px;
  color: white;
  border-right: 1px solid #000000;
}

.top_navbar > .logo > img {
  width: 110px;
}

.top_navbar .menu {
  width: calc(50% - 250px);
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_navbar .hamburger {
  font-size: 25px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.top_navbar .hamburger:hover {
  color: #4c93bc;
}

.hover_collapse .sidebar {
  width: 70px;
}

.hover_collapse .sidebar ul li a .text {
  display: none;
}
.navigation {
  position: absolute;
  top: 0px;
  top: 14px;
  right: 32px;
  width: 160px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  transition: height 0.5s, width 0.5s;
  overflow: hidden;
  z-index: 9999;
  border-radius: 25px;
}
.navigation.active {
  width: 300px;
  height: 400px;
  transition: height -0.5s, width 0.5s;
  background-color: white;
  transition-delay: 0s, 0.5s;
}

.navigation .userBx {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  margin-left: 12%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.navigation .userBx .username {
  white-space: nowrap;
  text-overflow: hidden;
  margin-left: 2%;
  color: #333;
  font-size: 32px;
}

.navigation.active .userBx {
  width: calc(100% - 60px);
  transition-delay: 0.5s;
}

.navigation .userBx .imgBx {
  position: relative;
  width: 50px;
  height: 50px;
  /* padding: 3px 3px; */
  overflow: hidden;
  background-color: #4c93bc;
  border-radius: 50%;
  /* border: 6px solid white; */
  margin-top: 2px;
}
.navigation .userBx .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigation .menuToggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation .menuToggle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 3px;
  background-color: #555;
  transform: translateY(-10px);
  box-shadow: 0 10px #555;
  transition: 0.5s;
}
.navigation .menuToggle::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #555;
  transform: translateY(10px);
  transition: 0.5s;
}
.navigation.active .menuToggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0px #555;
}
.navigation.active .menuToggle::after {
  transform: translateY(0px) rotate(-45deg);
}

.sidebar {
  position: fixed;
  top: 75px;
  left: 0;
  width: 280px;
  height: 100%;
  background: #296b8a;
  z-index: 99;
}

.sidebar ul li a {
  display: block;
  padding: 16px 25px;
  border-bottom: 1px solid #1a5772;
  color: #0e94d4;
}
.sidebar ul li a .icon {
  font-size: 18px;
  color: white;
  vertical-align: middle;
}

.sidebar ul li a .text {
  margin-left: 19px;
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

.sidebar ul li a:hover {
  background: #79abc2;
  color: #fff;
}
.menu2 {
  position: absolute;
  width: 100%;
  height: calc(100%-60px);
  margin-top: 60px;
  padding: 20px;
border-top: 1px solid black;
}
.menu2 li a {
    display:flex;
    align-items: center;
    margin: 16px 0px;
    gap: 10px;
    color:#555
}
.menu2 li a:hover{
    color:#0e94d4
}

.menu2 ion-icon {
     font-size: 1.9em;
}
#main .box{
  position: fixed;
  width: 85%;
  height: 78%;
  background-color: #e2e2e2;
  position: absolute;
  right:5%;
  bottom: 6%;
}
.table-wrap {
	height: 160px;
	overflow-y: auto;
  }