
  .advisor {
    overflow: auto;
    border-left: 1px solid white;
    background-color: #1a5772;

  }
  
  .advisorButton {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .advisorButton button {
    margin-bottom: 18vw;
    width: 18vw;
    height: 10vh;
    border-radius: 12px;
    border: none;
    font-size: 1.6vw;
  }
  
  .advisor-top {
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .jobCardDesc {
    width: 50%;
  }
  .tax_desc {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  .tax_desc input {
    padding: 0.2vw;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    width: 11vw;
  }
  
  .advisor-top h1 {
    margin: 0.6vw;
  }
  
  .advisor-middle {
    padding: 1vw;
  }
  
  .jobcard1,
  .jobcard3 {
    display: flex;
    padding: 0.8vw;
  }
  
  .jobcard1 input,
  .jobcard3 textarea,
  .part input,
  .jobpart3 input,
  .jobpart4 input,
  .jobpart4 select {
    padding: 1vh 1vw;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    margin: 1vw;
  }
  .jobcard1 label,
  .jobcard3 label,
  .part label,
  .jobpart3 label,
  .jobpart4 label,
  .jobpart4 label {
    margin: 0 1vw;
  }
  
  .jobcard3 textarea {
    padding: 1vh 1vw;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    width: 25vw;
    height: 20vh;
    resize: none;
  }
  .part {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1vw;
  }
  
  #plus {
    font-size: 2vw;
    font-weight: 900;
    color: rgb(120, 255, 120);
    cursor: pointer;
    margin-left: -3vw;
    background-color: white;
    padding: 1vw;
  }
  
  #listcard {
    width: 10vw;
    height: 10vh;
    background-color: white;
    border-radius: 0.5vw;
  }
  
  #listcard li {
    list-style-type: none;
  }
  
  #jobCardButton,
  #estimateButton {
    padding: 0.6vw 1vw;
    font-size: 1vw;
    border-radius: 1vw;
    background-color: green;
    border: none;
    cursor: pointer;
    color: #ffffff;
    margin-left: 1vw;
  }

  .nav-available {
    border-right: 9px solid rgb(7, 31, 28);
    border-radius: 5px;
    background-color: #0f621356;
  }
  
  .jobpart4 {
    width: 50%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1vw;
  }
  
  .overlay1 {
    width: 100%;
    height: 100vh;
    background-color: #1a5772;
    position: fixed;
    display: none;
    top: 0;
  }
  
  .cross1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2vh 2vw;
  }
  
  .overlay1 .cross1 h1 {
    font-size: 2vh;
    cursor: pointer;
  }
  
  .overlay1 .sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }
  
  .overlay1 .sidebar ul {
    list-style-type: none;
  }
  
  .overlay1 .sidebar ul li a {
    text-decoration: none;
    font-size: 6vw;
    color: white;
  }
  
  .overlay1 .sidebar ul li {
    margin-top: 2vh;
  }
  
  .bill-calc {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
  }
  
  .amount_calc {
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1vw;
  }
  
  .bill-calc input,
  .amount_calc input {
    padding: 1vh 0vw;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    width: 10vw;
    margin: 1vw;
  }
  .bill-calc label,
  .amount_calc label {
    margin: 0 1vw;
  }
  #taxonpart,
  #taxonlbr {
    margin-top: -10vw;
  }
  
  .addbtn,
  .addbtn1 {
    margin-top: 1vmax;
  }
  
  .addbtn i,
  .addbtn1 i {
    color: rgb(120, 255, 120);
    font-size: 2vmax;
    padding: 0.5vmax;
    background-color: rgba(3, 3, 3, 0.458);
    border-radius: 50%;
  }
  
  .addbtn:hover,
  .addbtn1:hover {
    cursor: pointer;
  }
  
  .table-wrapper,
  .table-wrapper1 {
    padding: 2vmax;
    width: 95%;
  }
  
  table {
    width: 100%;
    background-color: rgba(35, 116, 130, 0.314);
    border: 1px solid white;
    color: white;
  }
  
  .tr {
    border: 1px solid white;
  }
  
  .th {
    background-color: rgba(0, 0, 0, 0.305);
    border: 1px solid white;
    text-align: center;
  }
  
  .td {
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
  }
  
  .td_cross {
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
  }
  
  #taxOnLabour,
  #tax {
    padding: 1vh 0vw;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    cursor: pointer;
  }
  #taxonpart,
  #taxonlbr {
    margin-bottom: 2vh;
    margin-left: -0.2vw;
  }
  select {
    font-size: 1.1vw;
    margin-bottom: 1vh;
  }
  
  .gross,
  .gross1,
  .jobCard_submit {
    display: flex;
    align-items: center;
    margin-bottom: 4vw;
    padding: 0 2vw;
  }
  
  #grossAmount,
  #grossAmount1,
  #grossTotal {
    padding: 1vh 0vw;
    border-radius: 0.3vw;
    border: none;
    outline: none;
    margin-left: 2vw;
    width: 10vw;
  }
  .last {
    display: flex;
  }
  .Gross_Amount {
    display: flex;
    align-items: center;
  }
  
  .Gross_Total {
    display: flex;
    align-items: center;
  }

  