{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MOC Dashboard</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <title>ERP MOC</title>
   <!---htmx--->
<script src="https://unpkg.com/htmx.org@1.6.0"></script>
 </head>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
<div id="main">
 <div class="wrapper hover_collapse">
	<div class="top_navbar">
		<div class="logo"><img src="{% static 'img/MoC.png' %}" alt=""></div>
		<div class="menu">
			<div class="hamburger">
				<i class="fas fa-bars"></i>
			</div>
		</div>
	</div>
    <div class="navigation">
		<div class="userBx">
			
			<p class="username">{{request.user}}</p>
		</div>
		<div class="menuToggle"></div>
      <ul class="menu2">
		<li><a href="#"><ion-icon name="person-outline"></ion-icon>My profile</a></li>
		<li><a href="#"><ion-icon name="chatbox-ellipses-outline"></ion-icon>Message</a></li>
		<li><a href="#"><ion-icon name="notifications-outline"></ion-icon>Notification</a></li>
		<li><a href="#"><ion-icon name="settings-outline"></ion-icon>Help and Setting</a></li>
		<li><a href="{% url 'logout' %}"><ion-icon name="log-out-outline"></ion-icon>Log Out</a></li>
	  </ul>
	</div> 
	{% include 'ERP/dashboard/main_dash.html' %}
	<div class="box">
        {% block content %}
	

        {% endblock %}
              
	</div>
</div>
   
</div>
<script src="{% static 'js/search.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script>
   let menuToggle = document.querySelector('.menuToggle');
    let navigation = document.querySelector('.navigation');
    menuToggle.onclick = function(){
    navigation.classList.toggle('active')
}
</script>
</body>
</html>
